.signup-page{
    width: 1000px;
    padding: 5% 0 0;
    margin: auto;
}
body{
background: linear-gradient(to right, #f5f7fa 0%, #b8c6db 90%);
}
.signup-header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.signup-header p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.signup-page .form .login{
    /* margin-top: -1px; */
    margin-bottom: 26px;
}
.form{
    position: relative;
    /* z-index: 1; */
    background: #FFFFFF;
    min-width: 48rem;
    min-height: 60vh;
    margin: 5px 195px 100px;
    padding: 45px;
    border-radius: 15px;
    /* text-align: center; */
    box-shadow: 0 0 20px 0 rgba(0,0,0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #e2e0e0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}
.form button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg, rgb(87, 64, 219), rgb(49, 228, 183));
    width: 100%;
    border: 0;
    padding: 16px;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form .message{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 0;
    color: #a09c9c;
    font-size: 14px;
}
.form .message a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400px;
    color: #4caf50;
    text-decoration: none;
}
@media only screen and (max-width: 567px){
.form{
    min-width: 90%;
    margin: 10px 0 40px 0;
    padding: 35px;
}
/* .img-signup img{
    display: none;
} */
}